{% extends "home/base.html" %}

{% load static %}

{% block title%}
 {% if category %}{{ category.name }}{% else %}Products{% endif %}

{% endblock %}



{% block content %}
<div class="container">

      <div class="row">

        <div class="col-lg-3">
  <h3>Categories</h3>
  <ul>
    <li {% if not category %}class= "selected"{% endif %}>
      <a href="{% url "home:product_list" %}">All</a>
    </li>
    <div class="list-group">
    {% for c in categories %}
    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
      <a href="{{ c.get_absolute_url }}" class="list-group-item">{{ c.name }}</a>
    </li>
    {% endfor %}
  </div>
  </ul>
</div>
</div>

<div class="col-lg-9">

  <div class="card mt-4">
    <div class="card-body">

  <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
  {% for product in products %}
    <div class="item">
      <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/not-found.png' %}{% endif%}" class="responsive-img" style='max-height:100px;' alt="face">
        <a/>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
        ${{ product.price }}
    </div>
  {% endfor %}

    </div>

    </div>
  </div>
</div>
{% endblock %}
